@font-face {
    font-family: 'Studio Pro';
    font-display: swap;
    src: url('~/assets/fonts/StudioProTrial-Regular.woff') format('woff'),
        url('~/assets/fonts/Studio-Pro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Studio Pro';
    font-display: swap;
    src: url('~/assets/fonts/Studio-Pro-Regular-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Studio Pro';
    font-display: swap;
    src: url('~/assets/fonts/StudioProTrial-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Studio Pro';
    font-display: swap;
    src: url('~/assets/fonts/StudioProTrial-Bold.woff') format('woff'),
        url('~/assets/fonts/Studio-Pro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Studio Pro';
    font-display: swap;
    src: url('~/assets/fonts/Studio-Pro-Bold-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
